<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
        {% block title %}Amministrazione{% endblock %}
    </title>

    {% block css %}
        <link type="text/css" href="{{ asset('css/backend.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block script %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js')
            }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.21.custom.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <div id="header">
        <div id="logo">
            </a>
        </div>
    </div>

    <div id="navigation">
        <ul>
            <li>
                <a href="{{ path('admin_post') }}">News</a>
            </li>
        </ul>
    </div>

    <div id="back_content">
        {% block content %}
            test
        {% endblock %}
    </div>
    <div style="clear:both"></div>
  </body>
</html>

