<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="container">
                <div id="header">
                    {% block header %}
                        <a href="{{ path('HellspiteMainBundle_homepage') }}">
                            <img src="{{ asset('bundles/hellspitemain/images/logo.svg') }}" alt="Hellspite" />
                        </a>
                    {% endblock %}
                </div>
                <div id="main">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
