{% extends '::base.html.twig' %}

{% block title %}
    Hellspite - Media
{% endblock %}

{% block main %}
<div class="left box">
    <div class="boxhead">Photos</div>
</div>

<div class="right">
    <div class="rightbox">
        <div class="boxhead">Videos</div>
    </div>
</div>

{% endblock %}

