<div class="left box">
    <div class="boxhead">News</div>
    {% for post in posts %}
        {% include 'HellspiteAnnounceBundle:Default:post.html.twig' with
        {'post' : post} %}
    {% endfor %}
</div>

<div class="right">
    <div class="rightbox">
        <div class="boxhead">Gigs</div>
        {% render 'HellspiteGigBundle:Default:sideBar' %}
    </div>
    {% include 'HellspiteTwitterBundle:Default:lastTweets.html.twig' %}
</div>
