body {
    background-color:#fff;
    background-image:url('../images/sidebg.png');
    background-repeat:no-repeat;
    background-position:96% 100%;
    background-attachment:fixed;
}

@font-face{
    font-family:'TravelingTypewriter'; src: local('TravelingTypewriter'), url('../fonts/TravelingTypewriter.ttf') format('truetype'); 
}

#container{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.menu{
    font-family:'TravelingTypewriter';
    font-size:34px;
    text-transform:uppercase;
    float:right;
    width:538px;
    height:68px;
    position:relative;
    top:-7px;
}

.menu a{
    color:#000;
    text-decoration:none;
    font-weight:bold;
}

.menu a:hover{
    color:#444;
}

.menu ul{
    padding:0;
    margin:0;
    list-style:none;
}

#media-btn{
    position:relative;
    top:-6px;
}

.box{
    background-color:rgba(255, 255, 255, 0.5);
    border:1px solid #666;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.long{
    min-height:400px;
}

.left{
    min-height:700px;
    width:600px;
    float:left;
}

.right{
    float:right;
    width:340px;
}

.rightbox{
    background-color:rgba(255, 255, 255, 0.5);
    border:1px solid #666;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height:400px;
    margin-bottom:10px;
}

.boxhead{
    background-color:#000;
    color:#fff;
    font-size:26px;
    font-family:'TravelingTypewriter';
    padding:15px;
    padding-right:20px;
    text-transform:uppercase;
    -moz-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align:right;
}

#header img{
    width:400px;
}

.post{
    margin-bottom:10px;
}

.post-head{
    font-weight:bold;
    color:#222;
    background-color:#888;
    padding:4px 10px 4px 10px;
    height:18px;
    background-image: linear-gradient(right , #FFFFFF 0%, #AAAAAA 75%, #888888 88%);
    background-image: -o-linear-gradient(right , #FFFFFF 0%, #AAAAAA 75%, #888888 88%);
    background-image: -moz-linear-gradient(right , #FFFFFF 0%, #AAAAAA 75%, #888888 88%);
    background-image: -webkit-linear-gradient(right , #FFFFFF 0%, #AAAAAA 75%, #888888 88%);
    background-image: -ms-linear-gradient(right , #FFFFFF 0%, #AAAAAA 75%, #888888 88%);

    background-image: -webkit-gradient(
    linear,
    right bottom,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(0.75, #AAAAAA),
    color-stop(0.88, #888888)
    );
}

.post-title{
    float:left;
}

.post-title a{
    color:#222;
    text-decoration:none;
}

.post-title a:hover{
    text-decoration:underline;
}

.post-date{
    float:right;
}

.post-content{
    padding:5px 10px 5px 10px;
}

.post-content a{
    font-weight:bold;
    color:#000;
    text-decoration:underline;
}

.post-content a:hover{
    text-decoration:none;
}

.gig-date{
    float:left;
}

.gig-venue{
    float:left;
    margin-left:10px;
}

.gig-title{
    float:left;
    margin-left:10px;
}

.gig-title a{
    color:#222;
    text-decoration:none;
}

.gig-title a:hover{
    text-decoration:underline;
}

.gig-section{
    font-family:'TravelingTypewriter';
    border-bottom:1px solid #222;
    margin-top:10px;
    padding-left:10px;
}

#album-list{
    list-style:none;
}

#album-list li{
    background-image:url('../../../images/camera.png');
    background-repeat:no-repeat;
    background-position:0 0;
    min-height:34px;
    padding-top:16px;
    padding-left:60px;
    margin-bottom:10px;
}

#album-list li a{
    text-decoration:none;
    text-transform:uppercase;
}
