<div class="post">    
    <div class="post-head">
        <div class="post-title">
            {{ gig.title|title }}
        </div>
        <div class="post-date">
            {{ gig.date|date('d/m/Y') }}
        </div>
    </div>

    <div class="post-content">
        {% if gig.icon != '' %}
            <img src="{{ asset(['uploads/gig/thumb/', gig.icon] | join) }}" />
        {% endif %}
    {{ gig.text|raw }}
    </div>
</div>

