{% extends 'HellspiteMainBundle:Default:index.html.twig' %}

{% block main %}
    <div class="long box">    
        <div class="boxhead">
            {% block gigshead %}
                Gigs
            {% endblock %}
        </div>
    </div>
{% endblock %}
